li{
    list-style-type:none;
    color:white;
}
.two{
    display:flex;
    flex-direction: row;
    
    justify-content: space-around;
}

.two1,.two2{
    display:flex;
    flex-direction: row;  
    justify-content: space-between;
    align-items: space-between; 
}

.logo{
    height: 2vh;
    width:2vw;
}